@page "/görevdetay/{id:int}"
@inject ITaskService taskService

<EditForm Model="@taskDto">
    <h3>Proje Detay</h3>
    <hr />

    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje ID
        </label>
        <div>
            <SfTextBox Value="@taskDto.ID.ToString()"></SfTextBox>
            @*<InputNumber class="form-control" @bind-Value="TaskDto.ID" />*@
        </div>
    </div>
    @*<div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje Adı
        </label>
        <div>
            <SfTextBox class="form-control" @bind-Value="taskDto.ProjeAdi" />
        </div>
    </div>*@
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Proje Kodu
        </label>
        <div>
            <SfTextBox class="form-control" Value="@taskDto.PYProjeKoduID.ToString()" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Proje Başlama Tarihi
        </label>
        <div>
            <SfDatePicker class="form-control" @bind-Value="taskDto.PlanlananBaslamaTarihi" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Proje Bitiş Tarihi
        </label>
        <div>
            <SfDatePicker class="form-control" @bind-Value="taskDto.PlanlananBitisTarihi" />
        </div>
    </div>
</EditForm>

<table style="width:100%">
    <tr>
        <th>Proje Id</th>
        <th>Proje Adı</th>
        <th>Proje Kodu</th>
        <th>Proje Başlama Tarihi </th>
        <th>Proje Bitiş Tarihi</th>
        <th>Süre</th>
        <th>Konu</th>
    </tr>
    <tr>
        <td>@taskDto.ID</td>
        <td>@taskDto.PYProjeKoduID</td>
        <td>@taskDto.PlanlananBaslamaTarihi</td>
        <td>@taskDto.PlanlananBitisTarihi</td>
        <td>@taskDto.Sure</td>
        <td>@taskDto.Konu</td>
    </tr>
</table>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

@code {
    public TaskDto taskDto = new TaskDto();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await taskService.GetTaskById(id);
        taskDto = result;
    }
}