@page "/projedetay/{id:int}"
@inject IProjectService projectService

<EditForm Model="@projectDto">
    <h3>Proje Detay</h3>
    <hr />

    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje ID
        </label>
        <div>
            <SfTextBox Value="@projectDto.ID.ToString()"></SfTextBox>
            @*<InputNumber class="form-control" @bind-Value="projectDto.ID" />*@
        </div>
    </div>
    <div class="form-group row">
        <label for="ID" class="col-sm-2 col-form-label">
            Proje Adı
        </label>
        <div>
            <SfTextBox class="form-control" @bind-Value="projectDto.ProjeAdi" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Proje Kodu
        </label>
        <div>
            <SfTextBox class="form-control" @bind-Value="projectDto.ProjeKodu" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Proje Başlama Tarihi
        </label>
        <div>
            <SfDatePicker class="form-control" @bind-Value="projectDto.PlanlananBaslamaTarihi" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Proje Bitiş Tarihi
        </label>
        <div>
            <SfDatePicker class="form-control" @bind-Value="projectDto.PlanlananBitisTarihi" />
        </div>
    </div>
    <SfButton @onclick="GetValue">Güncelle</SfButton>
    <SfToast Title="abcbac" Content="@ToastContent" @ref="sfToast" Timeout="2500" ShowCloseButton="true">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </SfToast>
</EditForm>


<table style="width:100%">
    <tr>
        <th>Proje Id</th>
        <th>Proje Adı</th>
        <th>Proje Kodu</th>
        <th>Proje Başlama Tarihi </th>
        <th>Proje Bitiş Tarihi</th>
    </tr>
    <tr>
        <td>@projectDto.ID</td>
        <td>@projectDto.ProjeAdi</td>
        <td>@projectDto.ProjeKodu</td>
        <td>@projectDto.PlanlananBaslamaTarihi</td>
        <td>@projectDto.PlanlananBitisTarihi</td>
    </tr>
</table>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

@code
{
    SfToast sfToast;
    public ProjectDto projectDto = new ProjectDto();
    private string ToastContent { get; set; }

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await projectService.GetProjectById(id);
        projectDto = result;
    }

    public async Task GetValue()
    {
        ToastContent = await projectService.UpdateProject(projectDto);
        await Task.Delay(1000);
        await this.sfToast.ShowAsync();
    }
}